{% extends 'base.html' %}

{% block content %}
<!--Includes-->
<script src="/static/custom/js/blog/blog.js"></script>

<!--Mobile-->
<div class="container text-center d-sm-block d-md-none d-lg-none d-xxl-none text-light">
  <div class="row">
    <!--Search bar-->
    <div class="col my-5">
      <nav class="navbar bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-light">Search for a blog</a>
          <form class="d-flex" role="search">
            <input onkeyup="search_blog(this);" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
      </nav>

      <!--Results Table-->
      <table class="table table-bordered table-dark mt-4">
        <tbody id="tbody_blog_mobile">
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--Desktop-->
<div class="container text-center d-none d-md-block d-lg-block d-xl-block d-xxl-block text-light overflow-auto">

  <!--Category options-->
  <div class="row">
    <div class="col-md-auto py-2">
      <h4>Categories</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center ps-1 bg-secondary">
          <a onclick='request_blog(this);' class="link-light link-underline link-underline-opacity-0" href="#">Security</a>
          <span id='security_count' class="badge bg-info rounded-pill ms-1">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center ps-1 bg-secondary">
          <a onclick='request_blog(this);' class="link-light link-underline link-underline-opacity-0" href="#">Linux</a>
          <span id="linux_count" class="badge bg-info rounded-pill ms-1">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center ps-1 bg-secondary">
          <a onclick='request_blog(this);' class="link-light link-underline link-underline-opacity-0" href="#">Windows</a>
          <span id="windows_count" class="badge bg-info rounded-pill ms-1">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center ps-1 bg-secondary">
          <a onclick='request_blog(this);' class="link-light link-underline link-underline-opacity-0" href="#">Software</a>
          <span id="software_count" class="badge bg-info rounded-pill ms-1">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center ps-1 bg-secondary">
          <a onclick='request_blog(this);' class="link-light link-underline link-underline-opacity-0" href="#">Networking</a>
          <span id="networking_count" class="badge bg-info rounded-pill ms-1">0</span>
        </li>
      </ul>
    </div>

    <!--Search bar-->
    <div class="col my-5">
      <nav class="navbar bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-light">Search for a blog</a>
          <form class="d-flex" role="search">
            <input onkeyup="search_blog(this);" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
      </nav>

      <!--Results Table-->
      <table class="table table-bordered table-dark mt-4">
        <tbody id="tbody_blog">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
