@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-900 text-slate-200
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Rotating gear */
@keyframes rotate360{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotate-element{
  animation: rotate360 2s linear infinite;
  display: inline-block;
}

/* Typing animation */
.container{
  display: grid;
  place-items: center;
  @apply w-screen
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(30, end) forwards
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 400px }
}

/* Mobile Sidebar animation
@keyframes emerging{
  from {width: 0;}
  to {width: 83.33333%}
}

.opening-sidebar-animation{
  animation: emerging 0.2s steps(8, end) forwards;
}

@keyframes fading{
  from {width: 83.33333%;}
  to {width: 0;}
}
.closing-sidebar-animation{
  animation: fading 0.2s steps(8, end) forwards;
}
*/
pre, code {
  height: 16.5rem;
  overflow-y: auto;
}


/*Fonts*/
@font-face {
  font-family: 'Big Shoulder Display';
  font-weight: 400;
  src: url("/fonts/big_shoulder_display/BigShouldersDisplay-VariableFont_wght.ttf");
}

.big-shoulder-display-font {
  font-family: 'Big Shoulder Display';
}