<div class="container-fluid">
	<footer>
		<!--Mobile-->
		<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-dark-subtle d-sm-block d-md-none d-lg-none d-xxl-none text-light">
			  <p class='fs-6 text-center'>&copy; 2023 ominousSHELL. All rights reserved.</p>
			  <ul class="list-unstyled d-flex">
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
			  </ul>
		</div>

		<!--Desktop-->
		<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top border-dark-subtle d-none d-md-block d-lg-block d-xl-block d-xxl-block text-light">
			<p class="text-center">&copy; 2023 ominousSHELL. All rights reserved.</p>
			  <ul class="list-unstyled d-flex">
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
				<li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
			  </ul>
		</div>
  	</footer>
</div>
