button{
    border-radius: 0.1rem !important;
    margin: 0.3rem !important;
    padding: 0.3rem !important;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
	color: #bbb;
	font-size: .8em;
	padding: 0.3rem !important;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: 0.1rem;
}

mark{
    background: none;
    color: inherit;
    border: 3px solid red;
}