.dropdown{
	margin-left:-1rem !important;
	color: turquoise;
	border-radius: 0.5rem;
}
.category_item{
	font-size: 1.7rem !important;
	border: 2px solid turquoise;
	padding-right: 1rem;
}

.platform_item{
	font-size: 1.7rem !important;
	border: 2px solid turquoise;
	padding-right: 1rem;
}
/**Buttons**/
.button_category{
	font-size: 2rem;
	color: turquoise;
	border: 2px solid turquoise;
	margin-top: 1.4rem;
	border-radius: 0.5rem;
	height:4.3rem;
	width: 11rem
}
.button_platform{
	font-size: 2rem;
	color: turquoise;
	border: 2px solid turquoise;
	margin-top: 1.4rem;
	border-radius: 0.5rem;
	height:4.3rem;
	width: 10rem
}

.circle{
	height: 3rem;
	width: 3rem;
	background-color: turquoise;
}
