<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/custom/css/main.css" rel="stylesheet">
<script src="/static/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
<body class="p-3 m-0 bg-dark border-0 bd-example m-0 border-0">
	<header>
		<!-- Mobile -->
		<nav data-bs-theme="dark" class="navbar navbar-dark navbar-expand-lg bg-body-tertiary d-sm-block d-md-none d-lg-none d-xxl-none">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">ominousSHELL</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/blog/">Blog</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/notes/">Notes</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>

		<!-- Desktop -->	
		<div class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
			<ul class="nav nav-tabs justify-content-end">
			  <li class="nav-item" style="margin-right:36rem">
				<p class="nav-link" style="color:white;">ominousSHELL</p>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color:white;" href="/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color: white;" href="/blog/">Blog</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color: white;" href="/notes/">Notes</a>
			  </li>
			</ul>
		</div>
	</header>
</body>	
