<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="/static/custom/css/main.css" rel="stylesheet">-->
<script src="/static/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
<style>
	ul,li {
		list-style-type: none;
		text-align: left;
	}
	div > nav > ul > li > a:hover{
		text-decoration: underline
	}
	div > ul.list-group > li > a:hover{
		color: cyan !important;
	}
	.link-secondary:hover{
		color: white !important;
	}
</style>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 bg-dark">
	<header>
		<!-- Mobile-->
		<nav class="navbar navbar-expand-lg  d-sm-block d-md-none d-lg-none d-xxl-none bg-info">
		  <div class="container-fluid">
			<a class="navbar-brand text-dark-emphasis" href="#">ominousSHELL</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				  <a class="nav-link active text-dark-emphasis" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-dark-emphasis" href="/blog/">Blog</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-dark-emphasis" href="/notes/">Notes</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>

		<!-- Desktop -->	
		<div class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
			<nav class="navbar navbar-expand-lg bg-info">
				  <div class="container-fluid">
					<a class="navbar-brand text-dark-emphasis" href="#">ominousSHELL</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						  <a class="nav-link active text-dark-emphasis" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link active text-dark-emphasis" href="/blog">Blog</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link active text-dark-emphasis" href="/notes">Notes</a>
						</li>
						</li>
					  </ul>
					</div>
				  </div>
			</nav>
		</div>
	</header>
</body>	
