{% extends 'base.html' %}

{% block content %}
<!--Mobile-->
<div class="container text-center d-sm-block d-md-none d-lg-none d-xxl-none text-light">
    <div class="row">
        <div class="col">
            <h1 class="text-start">Title</h1>
            <h3 class="text-start mt-5" >Subtopic #1</h3>
            <p class="text-start">Content for subtopic #1</p>

            <h3 class="text-start mt-5" >Subtopic #2</h3>
            <p class="text-start">Content for subtopic #2</p>

            <h3 class="text-start mt-5" >Subtopic #n</h3>
            <p class="text-start">Content for subtopic #n</p>
        </div>
    </div>
</div>

<!--Desktop-->
<div class="container text-center d-none d-md-block d-lg-block d-xl-block d-xxl-block text-light overflow-auto">
    <div class="row">
      <div class="col my-1">
        <h1 class="text-start">Title</h1>
        <h3 class="text-start mt-5" >Subtopic #1</h3>
        <p class="text-start">Content for subtopic #1</p>

        <h3 class="text-start mt-5" >Subtopic #2</h3>
        <p class="text-start">Content for subtopic #2</p>

        <h3 class="text-start mt-5" >Subtopic #n</h3>
        <p class="text-start">Content for subtopic #n</p>
      </div>
      <!--On this page-->
	<div class="col-md-auto">
        <strong class="d-none d-md-block h6 mt-4" align="left">On this page</strong>
        <hr class="d-none d-md-block my-2 ms-6">
        <div>
           <nav>
             <ul>
               <li><a class="link-secondary link-underline-opacity-0" href="#about">Subtopic #1</a></li>
               <li><a class="link-secondary link-underline-opacity-0" href="#todo">Subtopic #2</a></li>
               <li><a class="link-secondary link-underline-opacity-0" href="#todo">Subtopic #n</a></li>
             </ul>
           </nav>
         </div>
         <!--On this page-->
    </div>
</div>
{% endblock content %}