.dropdown{
	margin-left:-1rem !important;
	color: white;
	border-radius: 0.5rem;
}
.category_item{
	font-size: 1.3rem !important;
	border: 2px solid white;
	padding-right: 1rem;
}

.platform_item{
	font-size: 1.3rem !important;
	border: 2px solid white;
	padding-right: 1rem;
}

/**Buttons**/
.button_platform{
	font-size: 1.5rem;
	color: white;
	border: 2px solid white;
	margin-top: 1.4rem;
	border-radius: 0.5rem;
	height:4.3rem;
	width: 10rem
}

.circle{
	height: 3rem;
	width: 3rem;
	background-color: white;
}
