{% extends 'base.html' %}

{% block content %}
<!--Mobile-->
<div class="container text-center d-sm-block d-md-none d-lg-none d-xxl-none text-light">
    <div class="row">
        <div class="col">
            <h1 class="text-start">Title</h1>
            <h3 class="text-start mt-5" >Subtopic #1</h3>
            <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">Command</th>
                  <th scope="col">Description</th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-size: 0.8rem" class="text-info">man &lt;tool&gt;</td>
                  <td style="font-size: 0.8rem" class="text-white-50">Opens man pages for the specified tool.</td>
                </tr>
              </tbody>
            </table>
            <h3 class="text-start mt-5" >Subtopic #2</h3>
            <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">Command</th>
                  <th scope="col">Description</th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-size: 0.8rem" class="text-info">man &lt;tool&gt;</td>
                  <td style="font-size: 0.8rem" class="text-white-50">Opens man pages for the specified tool.</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

<!--Desktop-->
<div class="container text-center d-none d-md-block d-lg-block d-xl-block d-xxl-block text-light overflow-auto">
    <div class="row">
      <div class="col my-1">
        <h1 class="text-start">Title</h1>
        <h3 class="text-start mt-5" >Subtopic #1</h3>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Command</th>
              <th scope="col">Description</th>
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size: 0.8rem" class="text-info">man &lt;tool&gt;</td>
              <td style="font-size: 0.8rem" class="text-white-50">Opens man pages for the specified tool.</td>
            </tr>
          </tbody>
        </table>
        <h3 class="text-start mt-5" >Subtopic #2</h3>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Command</th>
              <th scope="col">Description</th>
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size: 0.8rem" class="text-info">man &lt;tool&gt;</td>
              <td style="font-size: 0.8rem" class="text-white-50">Opens man pages for the specified tool.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--On this page-->
	<div class="col-md-auto">
        <strong class="d-none d-md-block h6 mt-4" align="left">On this page</strong>
        <hr class="d-none d-md-block my-2 ms-6">
        <div>
           <nav>
             <ul>
               <li><a class="link-secondary link-underline-opacity-0" href="#about">Subtopic #1</a></li>
               <li><a class="link-secondary link-underline-opacity-0" href="#todo">Subtopic #2</a></li>
               <li><a class="link-secondary link-underline-opacity-0" href="#todo">Subtopic #n</a></li>
             </ul>
           </nav>
         </div>
         <!--On this page-->
    </div>
</div>
{% endblock content %}